{erl_opts, [debug_info]}.

%% dep for ra
{deps,[
  %% Packages
  {ra, {git, "https://github.com/rabbitmq/ra.git", {branch, "main"}}},
  {gen_batch_server, {git, "https://github.com/rabbitmq/gen-batch-server.git", {branch, "master"}}}
]}.


{shell, [
    %% {config, "config/sys.config"},
    {apps, [sonnenbarke]}
]}.
