[
 {mnesia,[{dir,"./.ra/mnesia"}]}
,{system_metadata,
  [
   {cluster,
    [
     {name, my_awesome_cluster}
    ,{starting_scn, 0}
    ,{ra_home_dir, "/home/nick/adcc/sonnenbarke/.ra"}
    ,{cluster_datafiles_home_dir, "/home/nick/adcc/sonnenbarke/.ra"}
    ,{nodes, 
      [
        ra1@localhost
       ,ra2@localhost
       ,ra3@localhost
       ,ra4@localhost
      ]
     }
    ]
   }
  ]
 }
].
